---
- name: Install Zabbix package
  hosts: vm_3
  become: true
  tasks:
    - name: Inspect Zabbix package
      command: dpkg -i /home/zabbix-release_latest_7.4+ubuntu22.04_all.deb
      args:
        creates: /etc/zabbix/zabbix_server.conf

- name: установка сопутствующих пакетов
  hosts: vm_3
  tasks:
    - name: Ensure packets is installed
      ansible.builtin.package:
        name:
          - zabbix-server-pgsql
          - zabbix-frontend-php
          - php8.1-pgsql
          - zabbix-nginx-conf
          - zabbix-sql-scripts
        state: present

- name: postgresql Playbook
  hosts: vm_3, vm_4, vm_5
  become: true
  vars:
    db_user: zabbix
    db_password: 35795147
    db_name: zabbix
  tasks:
    - name: Utility present
      ansible.builtin.package:
        name: python3-psycopg2
        state: present
    - name: Create db user
      community.postgresql.postgresql_user:
        state: present
        name: "{{ db_user }}"
        password: "{{ db_password }}"
      become: true
      become_user: postgres

    - name: Create db
      community.postgresql.postgresql_db:
        state: present
        name: "{{ db_name }}"
      become: true
      become_user: postgres

    - name: "Grant db user access to app db"
      postgresql_privs:
        type: database
        database: "{{ db_name }}"
        roles: "{{ db_user }}"
        grant_option: no
        privs: all
      become: yes
      become_user: postgres

          
