---
- name: Update and upgrade packages on the system
  hosts: all
  become: true
  tasks:
    - name: Run apt update
      ansible.builtin.apt:
        update_cache: yes

- name: установка nginx и сопутствующих пакетов
  hosts: vm_2, vm_4, vm_5, vm_6
  tasks:
    - name: Ensure packets is installed
      ansible.builtin.package:
        name:
          - nginx
          - php-fpm
          - php-pgsql
          - php-intl
          - php-gd
          - php-xml
          - php-mbstring
          - libpq-dev
          - python3-pip
        state: present
        

- name: Install PostgreSQL
  hosts: postgresql_servers
  tasks:
    - name: Ensure PostgreSQL is installed
      ansible.builtin.package:
        name: postgresql
        state: present

          
- name: Download and Extract MediaWiki
  hosts: vm_4, vm_5, vm_6
  tasks:
    - name: Download mediawiki-1.42.1.tar.gz
      get_url:
        url: https://releases.wikimedia.org/mediawiki/1.42/mediawiki-1.42.1.tar.gz
        dest: /tmp/mediawiki-1.42.1.tar.gz

    - name: Extract mediawiki-1.42.1.tar.gz
      unarchive:
        src: /tmp/mediawiki-1.42.1.tar.gz
        dest: /var/www/
        remote_src: yes

- name: Переместить каталог, если он ещё не перемещён
  hosts: vm_4, vm_5, vm_6
  tasks:
    - name: Проверка существования каталога в месте назначения
      stat:
        path: /var/www/mediawiki
      register: dest_exists

    - name: Выполнение перемещения каталога
      file:
        src: /var/www/mediawiki-1.42.1
        dest: /var/www/mediawiki
        state: link
      when: not dest_exists.stat.exists


- name: Перезапустить PostgreSQL
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Перезапуск PostgreSQL
      ansible.builtin.service:
        name: postgresql
        state: restarted


- name: Подмена конфига mediawiki
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/mediawiki
        dest: /etc/nginx/sites-available/mediawiki


- name: Замена конфига nginx
  hosts: vm_2
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/nginx.conf
        dest: /etc/nginx/nginx.conf


- name: Замена etc/hosts
  hosts: vm_2
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/hosts
        dest: /etc/hosts


- name: Создать символьную ссылку
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Создание символьной ссылки
      file:
        src: /etc/nginx/sites-available/mediawiki
        dest: /etc/nginx/sites-enabled/mediawiki
        state: link

- name: Удалить файл
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Удаление файла
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent


- name: Перезапустить nginx
  hosts: vm_2, vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Перезапуск nginx
      ansible.builtin.service:
        name: nginx
        state: restarted
