---
- name: Update and upgrade packages on the system
  hosts: all
  become: true
  tasks:
    - name: Run apt update
      ansible.builtin.apt:
        update_cache: yes

- name: установка nginx и сопутствующих пакетов
  hosts: vm_2, vm_4, vm_5, vm_6
  tasks:
    - name: Ensure packets is installed
      ansible.builtin.package:
        name:
          - nginx
          - php-fpm
          - php-pgsql
          - php-intl
          - php-gd
          - php-xml
          - php-mbstring
          - libpq-dev
          - python3-pip
        state: present
        

- name: Install PostgreSQL
  hosts: postgresql_servers
  tasks:
    - name: Ensure PostgreSQL is installed
      ansible.builtin.package:
        name: postgresql
        state: present

          
- name: Download and Extract MediaWiki
  hosts: vm_4, vm_5, vm_6
  tasks:
    - name: Download mediawiki-1.42.1.tar.gz
      get_url:
        url: https://releases.wikimedia.org/mediawiki/1.42/mediawiki-1.42.1.tar.gz
        dest: /tmp/mediawiki-1.42.1.tar.gz

    - name: Extract mediawiki-1.42.1.tar.gz
      unarchive:
        src: /tmp/mediawiki-1.42.1.tar.gz
        dest: /var/www/
        remote_src: yes


          #- name: Выполнить команду mv
          #  hosts: vm_4, vm_5, vm_6
          #  tasks:
          #  - name: Выполнение команды mv
          #    shell: mv /var/www/mediawiki-1.42.1 /var/www/mediawiki


- name: Установить psycopg2
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Установка psycopg2
      ansible.builtin.pip:
        name: psycopg2
        state: present

          #- name: Изменить метод аутентификации в PostgreSQL
          #  hosts: vm_4, vm_5, vm_6
          #  become: true
          #  tasks:
          #    - name: Замена метода аутентификации
          #      ansible.builtin.replace:
          #        path: /etc/postgresql/14/main/pg_hba.conf
          #        regexp: 'peer'
          #        replace: 'md5'  # или 'trust', в зависимости от ваших потребностей


- name: Создать пользователя и базу данных PostgreSQL через shell
  hosts: vm_4, vm_5, vm_6
  become: true
  become_user: postgres
  tasks:
    - name: Создание пользователя PostgreSQL
      shell: |
        sudo -su postgres createuser -S -D -R -P -E wikiuser

    - name: Создание базы данных PostgreSQL
      shell: |
        sudo -su postgres createdb -O wikiuser my_wiki  

- name: Перезапустить PostgreSQL
  hosts: vm_4, vm_5, vm_6
  become: true
  tasks:
    - name: Перезапуск PostgreSQL
      ansible.builtin.service:
        name: postgresql
        state: restarted
