---
- name: настроить права доступа для MediaWiki
  hosts: vm_3, vm_4
  become: yes
  tasks:
    - name: проверить тип файла
      ansible.builtin.stat:
        path: /var/www/mediawiki
      register: mediawiki_stat

    - name: изменить владельца директории
      ansible.builtin.file:
        path: "{{ mediawiki_stat.stat.path }}"
        owner: www-data
        group: www-data
        recurse: yes
      when: mediawiki_stat.stat.isdir
    
    - name: установить права доступа
      ansible.builtin.file:
        path: "{{ mediawiki_stat.stat.path }}"
        mode: '0755'
        recurse: yes
      when: mediawiki_stat.stat.isdir

- name: Install python3-pip, ACL
  hosts: vm_5, vm_6
  tasks:
    - name: Install package
      ansible.builtin.package:
        name:
          - python3-pip
          - acl
        state: present

- name: Настройка реплики PG and user replication
  hosts: vm_5
  become: true
  vars:
    db_user: syncuser
    db_password: 35795147
  tasks:
    - name: Utility present
      ansible.builtin.package:
        name: python3-psycopg2
        state: present

    - name: Create db user
      community.postgresql.postgresql_user:
        state: present
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        role_attr_flags: "REPLICATION"
      become: true
      become_user: postgres

- name: Замена pg_hba.conf
  hosts: vm_6
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/pg_hba2.conf
        dest: /etc/postgresql/14/main/pg_hba.conf

- name: Замена postgresql2.conf
  hosts: vm_6
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/postgresql2.conf
        dest: /etc/postgresql/14/main/postgresql.conf

- name:  pg_basebackup
  hosts: vm_6
  become: true
  vars:
    pg_data_dir: "/var/lib/postgresql/14/main"
    primary_host: "192.168.10.5"
    replication_user: "syncuser"
    replication_password: "35795147"
  tasks:
    - name: Stop postgresql service
      ansible.builtin.service:
        name: postgresql
        state: stopped

    - name: Ensure data directory is empty and owned by postgres
      ansible.builtin.file:
        path: "{{ pg_data_dir }}"
        state: absent
      become_user: postgres
    
    - name: Recreate the data directory with correct permissions
      ansible.builtin.file:
        path: "{{ pg_data_dir }}"
        state: directory
        owner: postgres
        group: postgres
        mode: "0700"

    - name: Remove PostgreSQL data directory contents as postgres user
      ansible.builtin.file:
        path: "{{ pg_data_dir }}/*"
        state: absent
      become_user: postgres

    - name: Run pg_basebackup from primary to recreate data directory
      ansible.builtin.command: >
        pg_basebackup -h {{ primary_host }}
                      -D {{ pg_data_dir }}
                      -U {{ replication_user }}
                      -P -R
      become_user: postgres
      environment:
        PGPASSWORD: "{{ replication_password }}"

    - name: Start postgresql service
      ansible.builtin.service:
        name: postgresql
        state: started
