---
- name: Backup PostgreSQL database on vm_5
  hosts: vm_5
  tasks:
    - name: Ensure directory exists
      file:
        path: /home/s775051/
        state: directory
        mode: '0755'

    - name: Dump PostgreSQL database
      become: true
      community.postgresql.postgresql_db:
        name: my_wiki
        state: dump
        target: /home/s775051/mywikidump.sql
        login_user: wikiuser
        login_password: 35795147

- name: Transfer file from vm_5 to vm_6
  hosts: vm_5
  tasks:
    - name: Fetch file
      fetch:
        src: /home/s775051/mywikidump.sql
        dest: /tmp/

- name: Copy file to vm_6
  hosts: vm_6
  vars:
    ansible_remote_src: yes
  tasks:
    - name: Copy fetched file
      copy:  
        src: /tmp/vm_5/home/s775051/mywikidump.sql
        dest: /home/s775051/

- name: Restore PostgreSQL database on vm_6
  hosts: vm_6
  tasks:
    - name: Restore database
      become: true
      community.postgresql.postgresql_db:
        name: my_wiki
        state: restore
        db: my_wiki
        target: /home/s775051/mywikidump.sql
          #target: mywikidump.sql/vm_5/home/s775051/mywikidump.sql
        login_user: wikiuser
        login_password: 35795147


- name: Execute script on vm_6
  hosts: vm_6
  tasks:
    - name: Run script
      shell: |
        HOSTNAME=mediawiki
        IP=$(curl -s https://api.ipify.org)
        sudo cp /etc/hosts /etc/hosts.bak
        sudo sed -i -E "/[[:space:]]$HOSTNAME([[:space:]]|\$)/d" /etc/hosts
        echo "$IP $HOSTNAME" | sudo tee -a /etc/hosts


- name: Fetch LocalSettings.php from vm_5 and deploy to vm_6
  hosts: localhost
  gather_facts: false
  vars:
    src_host: vm_5           # inventory name of source host
    src_path: /var/www/mediawiki/LocalSettings.php
    dest_host: vm_6          # inventory name of destination host
    dest_path: /var/www/mediawiki/LocalSettings.php
    dest_owner: www-data
    dest_group: www-data
    dest_mode: "0600"
    tmp_local_path: /tmp/LocalSettings.php

  tasks:
    - name: Ensure tmp dir exists
      file:
        path: /tmp
        state: directory

    - name: Fetch LocalSettings.php from src host to controller
      fetch:
        src: "{{ src_path }}"
        dest: "{{ tmp_local_path }}"
        flat: yes
      delegate_to: "{{ src_host }}"
      become: true   # use if need sudo to read file on src host

    - name: Copy LocalSettings.php from controller to dest host
      copy:
        src: "{{ tmp_local_path }}"
        dest: "{{ dest_path }}"
        owner: "{{ dest_owner }}"
        group: "{{ dest_group }}"
        mode: "{{ dest_mode }}"
      delegate_to: "{{ dest_host }}"
      become: true   # use if need sudo to write file on dest host

    - name: Remove temporary file from controller
      file:
        path: "{{ tmp_local_path }}"
        state: absent

- name: Универсально заменить значение wgServer в LocalSettings.php
  hosts: vm_6
  become: yes
  tasks:
    - name: Установить wgServer = 'http://mediawiki'
      ansible.builtin.replace:
        path: /var/www/mediawiki/LocalSettings.php
        regexp: "(\\$wgServer\\s*=\\s*)'[^']*'\\s*;"
        replace: "\\1'http://mediawiki';"

