---
- name: собрать внешний айпи для vm_3
  hosts: vm_3
  become: yes
  tasks:
    - name: Получить внешний IP-адрес
      shell: curl -s https://api.ipify.org
      register: ip_address

    - name: записать полученный айпи в файл hosts
      delegate_to: localhost
      ansible.builtin.lineinfile:
        path: /home/shukinyure/ansible/hosts
        line: "192.168.10.8 {{ ip_address.stdout }}"  # Для vm_3

- name: собрать внешний айпи для vm_4
  hosts: vm_4
  become: yes
  tasks:
    - name: Получить внешний IP-адрес
      shell: curl -s https://api.ipify.org
      register: ip_address1

    - name: записать полученный айпи в файл hosts
      delegate_to: localhost
      ansible.builtin.lineinfile:
        path: /home/shukinyure/ansible/hosts
        line: "192.168.10.4 {{ ip_address1.stdout }}"  # Для vm_4

    # Добавьте аналогичную задачу для vm_4, если необходимо#  hosts: vm_3:vm_4
#  tasks:
#    - name: Fetch external IP address
#      shell: curl -s https://api.ipify.org
#      register: external_ip
#
#    - name: Write IP address to hosts file
#      delegate_to: localhost
#      lineinfile:
#        path: /home/shukinyure/ansible/hosts
#        state: present
#        regexp: '^{{ external_ip.stdout }}'
#        line: '{{ external_ip.stdout }} {{ inventory_hostname }}'

