---
- name: Установить wgServer = 'http://mediawiki'
  hosts: vm_5, vm_6
  become: yes
  tasks:
    - name: Получить внешний IP-адрес
      shell: curl -s https://api.ipify.org
      register: ip_address

    - name: Установить wgServer с полученным IP-адресом
      ansible.builtin.replace:
        path: /var/www/mediawiki/LocalSettings.php
        regexp: "(\\$wgServer\\s*=\\s*)'[^']*'\\s*;"
        replace: "\\1'http://{{ ip_address.stdout }}';"

