---
- name: Update and upgrade packages on the system
  hosts: all
  become: true
  tasks:
    - name: Run apt update
      ansible.builtin.apt:
        update_cache: yes


- name: установка nginx
  hosts: vm_2, vm_4, vm_5, vm_6
  tasks:
    - name: Ensure PostgreSQL is installed
      ansible.builtin.package:
        name: nginx
        state: present


- name: Install PostgreSQL
  hosts: postgresql_servers
  tasks:
    - name: Ensure PostgreSQL is installed
      ansible.builtin.package:
        name: postgresql
        state: present

          
- name: Download and Extract MediaWiki
  hosts: vm_4, vm_5, vm_6
  tasks:
    - name: Download mediawiki-1.42.1.tar.gz
      get_url:
        url: https://releases.wikimedia.org/mediawiki/1.42/mediawiki-1.42.1.tar.gz
        dest: /tmp/mediawiki-1.42.1.tar.gz

    - name: Extract mediawiki-1.42.1.tar.gz
      unarchive:
        src: /tmp/mediawiki-1.42.1.tar.gz
        dest: /var/www
        remote_src: yes 
