---
- name: настроить права доступа для MediaWiki
  hosts: vm_3, vm_4
  become: yes
  tasks:
    - name: проверить тип файла
      ansible.builtin.stat:
        path: /var/www/mediawiki
      register: mediawiki_stat

    - name: изменить владельца директории
      ansible.builtin.file:
        path: "{{ mediawiki_stat.stat.path }}"
        owner: www-data
        group: www-data
        recurse: yes
      when: mediawiki_stat.stat.isdir
    
    - name: установить права доступа
      ansible.builtin.file:
        path: "{{ mediawiki_stat.stat.path }}"
        mode: '0755'
        recurse: yes
      when: mediawiki_stat.stat.isdir

- name: Install python3-pip, ACL
  hosts: vm_5
  tasks:
    - name: Ensure PostgreSQL is installed
      ansible.builtin.package:
        name:
          - python3-pip
          - acl
        state: present

- name: Настройка реплики PG and user replication
  hosts: vm_5
  become: true
  vars:
    db_user: syncuser
    db_password: 35795147
  tasks:
    - name: Utility present
      ansible.builtin.package:
        name: python3-psycopg2
        state: present

    - name: Create db user
      community.postgresql.postgresql_user:
        state: present
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        role_attr_flags: "REPLICATION"
      become: true
      become_user: postgres

- name: Замена pg_hba.conf
  hosts: vm_6
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/pg_hba2.conf
        dest: /etc/postgresql/14/main/pg_hba.conf

- name: Замена postgresql2.conf
  hosts: vm_6
  become: true
  tasks:
    - name: Copy file to remote host
      copy:
        src: /home/shukinyure/ansible/postgresql2.conf
        dest: /etc/postgresql/14/main/postgresql.conf
